@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&family=Roboto:wght@400;700&display=swap');

:root {
    --font-base: 'Quicksand', sans-serif;
    --font-title: 'Roboto', sans-serif;

    --base-white: #fcfcfc;
    --base-black: #070600;
    --base-color-dark: #305c96;
    --base-color-light: #23b5d3;
    --base-color-highlight: #ea526f;
}

html {
    font-size: 16px;
}

body {
    font-family: var(--font-base);
    color: var(--base-black);
    position: relative;
    width: 100vw;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-title);
    font-weight: bold;
    color: var(--base-color-dark);
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.2rem;
}

p {
    line-height: 1.2rem;
}

img {
    width: 100%;
}

strong {
    font-weight: bold;
}

.container-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.container-grid {
    display: grid;
}

header {
    position: sticky;
    top: 0;
    left: 0;
    margin-bottom: 2rem;
}

.cabecalho {
    background-color: var(--base-color-dark);
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 3px var(--base-color-light);
    padding: 1rem;
}

.cabecalho h1 {
    color: var(--base-white);
}

.menu-hamburguer {
    width: 2rem;
    height: 2rem;
    justify-content: center;
    align-items: center;
}

.menu-hamburguer span {
    display: block;
    width: 80%;
    height: 2px;
    background-color: var(--base-white);
    margin: 2px 0;
}

nav {
    background-color: var(--base-color-light);
    padding: 0.8rem 1rem;
    display: none;
}

nav li {
    display: inline;
    margin-right: 1rem;
}

nav a {
    text-decoration: none;
    color: var(--base-white);
}

main {
    width: 100%;
}

main .container {
    padding: 0 1rem;
}

main section {
    margin-top: 2rem;
}

#sobre-a-loja div {
    padding-top: 2rem;
}

#sobre-a-loja h2 {
    margin-bottom: 1.2rem;
}

#sobre-a-loja p {
    margin-bottom: 1rem;
}

#produtos article {
    margin-top: 2rem;
}

#produtos article img,
#produtos article h3,
#produtos article p {
    margin-bottom: 1rem;
}

button {
    background-color: var(--base-color-highlight);
    color: var(--base-white);
    font-family: var(--font-title);
    font-weight: bold;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    padding: 0.8rem;
}

footer {
    background-color: var(--base-color-dark);
    margin-top: 2rem;
    text-align: center;
    padding: 0.8rem 1rem;
}

footer p {
    color: var(--base-white);
    font-size: 0.8rem;
    line-height: 1rem;
}

footer a {
    text-decoration: none;
    color: var(--base-color-light);
}